*{
    margin: 0px;
    padding: 0px;
}
.main-container{
    background-color:rgb(41, 40, 40);
    padding-right: 20px; 
    padding-left: 20px;
    color: white;
    list-style-type:none;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.menus{
    display: flex;
    margin: 10px;
    justify-content: right;
}
.items{
    padding-left: 10px;
    padding-right: 5px;
    margin: 2px;
    font-size: 15px;
    cursor:grab;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo-photo{
    width: 150px;
    margin: 5px;
    padding: 5px;
}
.items:hover{
    color:rgb(246, 10, 10);
}
.images-banner{
    width: 300px;
}
.banner-hero1{
    display: flex;
    color:white;
    height: 100vh;
    border: 2px solid rgb(14, 14, 13);
    align-items: center;
    justify-content: space-around;
    background-image: url("./images/background.png"),
    linear-gradient(45deg, #1a1a1a,#262020);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title1{
    font-size: 55px;
    font-weight: bold;
}
.sub-title{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 4.50px;
    color:white;
    font-weight: bold;

}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin: 10px;
    
}
.about-title{
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}
.box{
    width: 230px;
    height: 310px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
    margin-top: 10px;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: gray;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-description{
    padding:5px;
}
.service-container{
    display: flex;
    justify-content:space-around;
}